@import 'variables';
@import 'mixins';
@import "_mixins.scss";
/*
	здесь мы переопределяем все стили vuetify которые нельзя заменить в теме
 */
@import '~vuetify/src/styles/styles.sass';

body {
  color: $font-color;
  #review-app {
    font-family: $font-family;
    .body-1 {
      color: $font-color;
    }

    .body-2 {
      font-family: Roboto, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 14px !important;
      line-height: 19px;
    }
    a {
      color: $font-color;
      text-decoration: none;
      @include transition();
      &:hover{
        cursor: pointer;
        color: $font-color-hover;
      }
    }
    .v-btn:not(.v-btn--round).v-size--default{
      height: 50px;
      @include transition();
    }

    .v-btn{
      letter-spacing: initial;
      text-transform: inherit;
      border-radius: 1000px;
      height: 50px;
      font-family: $heading-font-family;
      font-style: normal;
      font-weight: bold;
      font-size: 17px;
      line-height: 21px!important;
      width: 100%;
      background-color: #B145F3!important;
      color:white;
      box-shadow: 0 15px 15px rgba(177, 69, 243, 0.24);
      @include transition();
      cursor: pointer;
      &:hover{
        background: #763A9B!important;
      }

      @include up($sm) {
        width: auto;
      }

      &__content{
        @include up($sm) {
          padding-left: 16px;
          padding-right: 16px;
        }
      }
    }
    .v-textarea.v-text-field--enclosed.v-text-field--outlined:not(.v-input--dense) textarea {
      margin-top: 14px;
    }

    .v-input{
      border-radius: 16px;
    }

    .v-stepper {
      box-shadow: none;
    }
    .v-stepper .v-stepper__step__step .v-icon {
      color:#6CC237!important;
      background: linear-gradient(0deg, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), #87F345!important;
      border-radius: 100%;
      border: 2px solid #CFF7CC!important;
    }



}
  .theme--light.v-application {
    background: transparent;
  }

  .theme--light.v-stepper .v-stepper__step:not(.v-stepper__step--active):not(.v-stepper__step--complete):not(.v-stepper__step--error) .v-stepper__step__step {
    background: transparent;
    color: $gray;
    font-size: 14px;
    line-height: 19px;
  }

  .theme--light.v-stepper .v-stepper__step__step .v-icon {
    color:#6CC237!important;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), #87F345!important;
    border-radius: 100%;
    border: 2px solid #CFF7CC!important;
  }
  .v-application--is-ltr .v-stepper__step__step {
    margin-right: 0;
  }

  .v-menu__content .theme--light .menuable__content__active{
    box-shadow: 0 16px 24px rgba(103, 110, 134, 0.1);
    border-radius: 6px;
  }
  .v-application .question__stepper .primary .v-icon {
    color:#6CC237!important;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), #87F345!important;
    border-radius: 100%;
    border: 2px solid #CFF7CC!important;
  }
}
