@font-face {
  font-family: 'Roboto';
  src: url('../assets/fonts/Roboto-Italic.eot');
  src: local('Roboto Italic'), local('Roboto-Italic'),
  url('../assets/fonts/Roboto-Italic.eot') format('embedded-opentype'),
  url('../assets/fonts/Roboto-Italic.woff2') format('woff2'),
  url('../assets/fonts/Roboto-Italic.woff') format('woff'),
  url('../assets/fonts/Roboto-Italic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('../assets/fonts/Roboto-Regular.eot');
  src: local('Roboto Italic'), local('Roboto-Regular'),
  url('../assets/fonts/Roboto-Regular.eot') format('embedded-opentype'),
  url('../assets/fonts/Roboto-Regular.woff2') format('woff2'),
  url('../assets/fonts/Roboto-Regular.woff') format('woff'),
  url('../assets/fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}