/**
  Этот глобальных миксинов и переменных, он подключается ко всем компонентам Vue (см. vue.config.js).
  ВАЖНО! ЗДЕСЬ НЕ ДОЛЖНО БЫТЬ стилей, только миксины и переменные.
 */
@import "mixins";
@import "variables";