/**
  Этот файл автоматически подхватывается vuetify, а также инклудится во все компоненты.
*/
$primary-font-family: Roboto, sans-serif;

$grid-breakpoints: () !default;
$grid-breakpoints: (
        'xs': 0,
        'sm': 600px,  // default 600px
        'md': 960px, // default 960px
        'lg': 1280px - 16px, // default 1280px - 16px,
        'xl': 1344px - 16px, // default 1920px - 16px
);


// важно, чтобы эти размеры совпадали с вышеуказанными!
$xs: 0px;
$sm: 600px;
$md: 960px;
$lg: 1280px - 16px;
$xl: 1344px - 16px;

// цвета проекта

$white: #FFFFFF;
$primary500: #C10016;
$black500 : #000000;
$additional100: #F3ECE5;
$additional150: #FAF7F4;
$secondary500: #041E42;
$secondary900: #010914;
$additional2100: #E8ECF3;
$additional1500: #D6BFA8;

